*{
    margin: 0;
    padding: 0;
    }
    /* selector de etiqueta */
    body{
        background-color: rgb(219, 182, 243);
            color: rgb(20, 19, 19);
    }

/* Estilo del contenedor del formulario */
#contenedor{
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e4bfdc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo de los campos del formulario */
  .contenedor[type="text"],
  .contenedor[type="email"],
  .contenedortextarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  #contenedor {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contact-form textarea {
    height: 100px;
  }
  
  /* Estilo del botón de enviar */
  .contact-form .btn-submit {
    display: inline-block;
    padding: 10px 20px;
    background-color: #b86a8e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contact-form .btn-submit:hover {
    background-color: #0d0e0d;
  }
  